<?xml version="1.0" ?>
<!-- $Id: config.xml,v 1.4 2003/08/14 15:46:51 chregu Exp $ -->
<config>
    <files>
    <!-- the following file definitions are presumably the most important
             ones for BXE (= Bitflux Editor). They define, where exactly the files
             come from (and go to). 
             Some Remarks for the beginning:
             - Be sure that all xml documents come with mime-type text/xml, this is
               important for files ending with .xsd/.xml and .xsl. Most certainly you   
               have to adjust your webserver for doing that.
             - You can't get different files from different servers/ports (except css files)
               For example, if "index.html" comes from somehost/index.html, you can't 
               get the xml-file from otherhost/index.html, not even from 
               somehost:81/index.html. If you have can't avoid that, you need some kind
               of proxy script which redirect the traffic from one host to another. I 
               wrote a PHP script, which exactly does that, if anyone interested,
               contact  me (chregu@bitflux.ch)

            You can define the file location in different ways:
            The most standard  is:
            <file name="BX_xmlfile">xml/article.xml</file>
            which gets the file with a HTTP-get from xml/article.xml (relativ to
            index.html)

            If you want to provide the location via an URL-Parameter:
            <file name="BX_xmlfile" isParam="true">xml-url</file>
            
            and the request "index.html?xml-url=xml/article.xml" leads to the same as the above
            example.
            
            Furthermore you have the option "prefix", which just prefixes the url with
            this value. The following example would do the same as above again (postfix
            is currently missing) 
            <file name="BX_xmlfile" prefix="xml/">article.xml</file>

            !The following is not implemented yet!
            If you want to access your files with other methods than http-get, you can
            use the  parameter "method". Currently there is only (besides http-get) a
            save method for wyona implemented, but a webdav interface is on the TODO
            list, and writing your own methods is also no problem. Just look at http.js
            and wyona.js in the "bxe/js/td" directory (and more docu will follow about this
            subject)

            -->
        <input>
            <!-- The XML-document with the actual data -->
            <file name="BX_xmlfile">test.xml</file>
            <!-- The XSL-document which transforms the xml to the output format -->
            <file name="BX_xslfile">test.xsl</file>
        </input>
        
        <!-- You can't provide a different "method" than http.get for the following files -->
        <css>
            <!-- Document specific css
                This is the one, which you should adjust.
             -->
             <file>css/site.css</file>
          
        </css>
        
        <scripts>
           
           <file>js/bxehtmltb.js</file>
           <file>js/jsdav.js</file>
           <file>td/webdav.js</file>
           <file>mozile/mozilekb.js</file>

        </scripts>
        
        
    </files>

</config>
